In [2]:
import pandas as pd
from scipy.stats import chi2_contingency
from termcolor import colored

In [3]:
dataset=pd.read_csv('bank.csv')

In [4]:
dataset.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [46]:
def chi_square(feature1,feature2,confidence_level):
    
    ''' This will take two categorical features as input and tells if both are dependent or independent with each other.
        This is helpfull in feature engineering step where we can drop one of the features if both the features are related    
    '''
    cont_tab=pd.crosstab(feature1,feature2)
    
    cont_tab_values=cont_tab.values
    
    chi2,p,dof,expected=chi2_contingency(cont_tab_values)
    significance=1-confidence_level
    
    print('P Value            :',p)
    print('significance Level :',significance)
    
    if p<=significance:
        print(colored('\nReject Null Hypothesis.Both the features are DEPENDENT','green', attrs=['bold']))
    else:
        print(colored('\nDo Not Reject Null Hypothesis.Both the features are NOT Dependent','red', attrs=['bold']))

In [47]:
chi_square(dataset['job'],dataset['marital'],0.95)

P Value            : 7.350991816548842e-252
significance Level : 0.050000000000000044

Reject Null Hypothesis.Both the features are DEPENDENT

In [48]:
chi_square(dataset['education'],dataset['housing'],0.95)

P Value            : 1.3232574326312348e-45
significance Level : 0.050000000000000044

Reject Null Hypothesis.Both the features are DEPENDENT