### Chi2Test for independence of Catgorical Variables

In [1]:
import pandas as pd
from scipy.stats import chi2_contingency,chi2

In [2]:
ds=pd.read_csv('bank.csv')

In [3]:
ds.columns.tolist()

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'deposit']

In [4]:
ds.describe()

,age,balance,day,duration,campaign,pdays,previous
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557
std,11.913369,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007
min,18.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000
25%,32.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000
50%,39.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000
75%,49.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000
max,95.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000

In [5]:
cat_val=ds.dtypes==object

### Categorical Columns/Features List

In [6]:
ds[ds.columns[cat_val].tolist()].head(5)

,job,marital,education,default,housing,loan,contact,month,poutcome,deposit
0,admin.,married,secondary,no,yes,no,unknown,may,unknown,yes
1,admin.,married,secondary,no,no,no,unknown,may,unknown,yes
2,technician,married,secondary,no,yes,no,unknown,may,unknown,yes
3,services,married,secondary,no,yes,no,unknown,may,unknown,yes
4,admin.,married,tertiary,no,no,no,unknown,may,unknown,yes

### Compare feature 'marital' and 'education'

In [7]:
contingency_tab=pd.crosstab(ds['marital'],ds['education'])

In [8]:
stats,p,dof,e=chi2_contingency(contingency_tab)

In [9]:
print('Result for Contingency table => stats is {} probability is {}  degree of freedom is {} '.format(stats,p,dof))
print('{}'.format(e))

Result for Contingency table => stats is 349.6547977476514 probability is 1.8305539727560682e-72  degree of freedom is 6
[[ 173.75918294  634.33685719  427.33175058   57.57220928]
 [ 853.47607956 3115.75667443 2098.98217165  282.78507436]
 [ 472.7647375  1725.90646837 1162.68607776  156.64271636]]

In [10]:
# interpret test-statistic
prob = 0.95
critical = chi2.ppf(prob, dof)
print(critical)
if abs(stats) >= critical:
    print('significant result, reject null hypothesis (H0), dependent')
else:
    print('not significant result, fail to reject null hypothesis (H0), independent')

12.591587243743977
significant result, reject null hypothesis (H0), dependent

In [11]:
# interpret p-value
alpha = 1.0 - prob

print('p     :',p)
print('alpha :',alpha)
if p <= alpha:
    print('significant result, reject null hypothesis (H0), dependent')
else:
    print('not significant result, fail to reject null hypothesis (H0), independent')

p     : 1.8305539727560682e-72
alpha : 0.050000000000000044
significant result, reject null hypothesis (H0), dependent